

/* NAV FLOATING MENU */

.admin__nav {
    position: fixed;
    background-color: rgb(138, 107, 107);
    top: 0;
    transform: translateX(-100%);
    transition: transform .3s;
    padding: 0;
}

.admin__nav > div {
    position: relative;
    height: 100%;
}


.admin__nav_open {
    transform: translateX(0%);
}

.admin__nav_close {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 2rem;
    color: black
}

.admin__nav h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0;
    font-size: 1.2rem;
    height: 11vh;
}

.admin__nav nav {
    background-color: pink;
    height: 100%;
    height: 88vh;
}

.admin__nav ul {
    text-align: center;
    padding: 1rem 1.3rem;
    /* background-color: yellow; */
}

.admin__nav li {
    padding: .7rem 0;
    border: 1px solid #333;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.admin__nav a {
    text-decoration: none;
    color: black;
}

.navbar__open_icon {
    position: fixed;
    top: .5rem;
    right: 2rem;
    width: 30px;
    height: 30px;
}

.navbar__open_icon svg {
    width: 100%;
    height: 100%;
}

/* PRINCIPAL CONTENT */

.main__content {
    background-color: #e7e7e7;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .admin__nav {
        margin: 0;
        padding: 0;
        position: relative;
        height: 100vh;
    }

    .navbar__open_icon {
        display: none;
    }

    .admin__nav_close {
        display: none;
    }

    .admin__nav h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        padding: 0;
        margin: 0;
    }

    .admin__nav nav {
        height: 90vh;
    }

    .main__content {
        overflow-y: scroll;
    }
}